@model Noticia
@{
    ViewData["Title"] = "Noticia";
}

<div class="titulo_pagina">
    <h1>Cadastro de @ViewData["Title"]</h1>
</div>

<form  class="cadastro-jogador" method="POST" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">

    <div class="campo">
        <label>ID Noticia:</label>
        <input type="text" name="IdNoticia" required>
    </div>
    
    <div class="campo">
        <label>Título :</label>
        <input type="text" name="Titulo" required>
    </div>

    <div class="campo">
        <label>Texto</label>
        <textarea name="Texto" id="Cadastro-noticia" required></textarea> 
    </div>

    <div class="campo">
        <label>Imagem :</label>
        <input type="file" name="Imagem" required>
    </div>

        <button class="gradient btn" type="submit">Cadastrar</button>
</form>

<table class="table table-striped table-responsive">
    <thead>
        <th>ID:</th>
        <th>Título:</th>
        <th>Texto:</th>
        <th>Imagem: </th>
        <th>Ações: </th>
    </thead>
    <tbody>

        @foreach (Noticia noticia in ViewBag.Noticias)
        {
            <tr>        
                <td>@noticia.IdNoticia</td>
                
                <td>@noticia.Titulo</td>

                <td>@noticia.Texto</td>

                <td><img src="/img/Noticias/@noticia.Imagem" alt="Imagem da noticia @noticia.Titulo" width="100" height="100"></td>

                <td><a asp-area="Link para excluir alguma noticia" asp-controller="Noticia" asp-action="Excluir" asp-route-id="@noticia.IdNoticia">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>